@model List<PizzaBox.Domain.Models.Login>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 <form action="/home/index" method="POST">  
    <p>
        <label for="user">Username</label>
        <input type="text" id="user" name="user" required>
        <label for="pass">Password</label>
        <input type="pass" id="pass" name="pass">
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
</form> 
</div>
